/* ======================================== */
/* ======================================== */
/* ======== MAIN */

:root {
    --background : #262931;
    --mainTextColor : white; 
    --borderContainer : white;
    --footerLinkColor : lightcoral;
    --labelTextColor : lightcoral;
    --borderInput : black;
    --errorTextColor : lightcoral;
    --buttonColor1 : white;
    --buttonColor2 : lightcoral;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: var(--background);
    color: var(--mainTextColor);
}

p {
    margin: 0;
    padding: 1vh;
}

button:active,
button:focus {
    outline: 0
}

/* ======================================== */
/* ======================================== */
/* ======== GENERAL */

#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    padding: 2vh;
    font-size: 2.5em;
    text-transform: uppercase;
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 25vw;
    padding: 2vh 0;
    border-top: 2px solid var(--borderContainer);
    border-bottom: 2px solid var(--borderContainer);
}

#footer {
    text-align: center;
    padding: 2vh;
}

#footer a {
    color: var(--footerLinkColor);
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

/* ======================================== */
/* ======================================== */
/* ======== FORM */

label {
    text-transform: uppercase;
    font-size: 1.5em;
    color: var(--labelTextColor);
}

input,
textarea {
    padding: 1.5vh;
    border: 1px solid var(--borderInput);
    border-radius: 5px;
    margin-bottom: 2vh;
}

textarea {
    resize: vertical;
}

#generate {
    background: var(--buttonColor1);
    color: var(--buttonColor2);
    font-size: 1.5em;
    padding: 1.5vh;
    border-radius: 10px;
    border: 0;
    margin: 0 auto;
    min-width: 20vw;
    max-width: 20vw;
    text-transform: uppercase;
}

#generate:hover {
    background: var(--buttonColor2);
    color: var(--buttonColor1);
}

#error {
    font-size: 1.5em;      
    padding-bottom: 2vh;      
    text-align: center;
    color :var(--errorTextColor);
    visibility: hidden;
}

/* ======================================== */
/* ======================================== */
/* ======== MOBILE */

@media(max-width: 1200px) {
    #container {
        margin: 0 5vw;
    }

    header {
        padding: 1.5vh;
        font-size: 1.5em;
    }

    label {
        font-size: 1.2em;
    }

    #generate  {
        min-width: 60vw;
        max-width: 60vw;
    }
}