/* ======================================== */
/* ======== VARIABLES */

:root {
    --background-page: #001f3f;
    --background-app: white;
    --text-app: black;
    --text-link: lightskyblue;
    --text-header: white;
    --text-footer: white;
    --text-error: #004080;
    --text-label: black;
    --border-input: black;
    --button-color-1: #004080;
    --button-color-2: white;
}

/* ======================================== */
/* ======== MAIN */

html,
body {
    margin: 0;
    font-family: sans-serif;
    color: var(--text-app);
    background-color: var(--background-page);
}

a {
    text-decoration: none;
    color: var(--text-link);
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0;
    padding: 1vh;
}

/* ======================================== */
/* ======== APP */

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    text-transform: uppercase;
    font-size: 2.5em;
    color: var(--text-header);
}

#footer {
    padding: 2vh;
    text-align: center;
    color: var(--text-footer);
}

#app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin: 2vh 25vw;
    padding: 0 2vw;
    background-color: var(--background-app);
}

#error {
    visibility: hidden;
    padding-bottom: 2vh;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    color: var(--text-error);
}

@media(max-width:1200px) {
    header {
        height: 5vh;
        padding: 1.5vh;
        font-size: 1.5em;
    }

    #app {
        margin: 0;
        padding: 2vh 0.5vw;
    }
}

/* ======================================== */
/* ======== BUTTON */

#listButtons {
    text-align: center;
}

button {
    margin: 0 auto;
    padding: 1vh;
    border: 0;
    text-transform: uppercase;
    font-size: 1.5em;
    color: var(--button-color-2);
    background-color: var(--button-color-1);
}

button:hover {
    opacity: 0.8;
}

#generate {
    width: 16vw;
}

#reset {
    width: 10vw;
}

@media(max-width:1200px) {
    #listButtons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        margin: 1vh 0;
    }

    #generate {
        width: 80vw;
    }
    
    #reset {
        width: 50vw;
    }

    button:active,
    button:focus {
        outline: 0;
    }
}

/* ======================================== */
/* ======== FORM */

label {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--text-label);
}

input,
textarea {
    margin-bottom: 2vh;
    padding: 1.5vh;
    border: 2px solid var(--border-input);
}

textarea {
    resize: vertical;
}

@media(max-width:1200px) {
    label {
        font-size: 1.2em;
    }
}