/* ======================================== */
/* ======================================== */
/* ======== VARIABLES */

:root {
    --background: #001f3f;
    --appColorOutside: white;
    --appColorInside: black;
    --borderContainer: black;
    --footerLinkColor: lightskyblue;
    --labelText: black;
    --borderInput: black;
    --errorText: #004080;
    --buttonColor1: #004080;
    --buttonColor2: white;
}

/* ======================================== */
/* ======================================== */
/* ======== MAIN */

html,
body {
    margin: 0;
    font-family: sans-serif;
    color: var(--appColorInside);
    background: var(--background);
}

a {
    text-decoration: none;
    color: var(--footerLinkColor);
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0;
    padding: 1vh;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    text-transform: uppercase;
    font-size: 2.5em;
    color: var(--appColorOutside);
}

#footer {
    padding: 2vh;
    text-align: center;
    color: var(--appColorOutside);
}

/* ======================================== */
/* ======================================== */
/* ======== FORM */

label {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--labelText);
}

input,
textarea {
    margin-bottom: 2vh;
    padding: 1.5vh;
    border: 2px solid var(--borderContainer);
}

textarea {
    resize: vertical;
}

/* ======================================== */
/* ======================================== */
/* ======== BUTTON */

#listButtons {
    text-align: center;
}

button {
    margin: 0 auto;
    padding: 1vh;
    border: 0;
    text-transform: uppercase;
    font-size: 1.5em;
    color: var(--buttonColor2);
    background: var(--buttonColor1);
}

button:hover {
    opacity: 0.8;
}

#generate {
    width: 16vw;
}

#reset {
    width: 10vw;
}

/* ======================================== */
/* ======================================== */
/* ======== APP */

#app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin: 2vh 25vw;
    padding: 0 2vw;
    background: white;
}

#error {
    visibility: hidden;
    padding-bottom: 2vh;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    color: var(--errorText);
}

/* ======================================== */
/* ======================================== */
/* ======== MOBILE */

@media(max-width:1200px) {
    header {
        height: 5vh;
        padding: 1.5vh;
        font-size: 1.5em;
    }

    #app {
        margin: 0;
        padding: 2vh 0.5vw;
    }

    /* FORM */

    label {
        font-size: 1.2em;
    }

    /* BUTTON */

    #listButtons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        margin: 1vh 0;
    }

    #generate {
        width: 80vw;
    }
    
    #reset {
        width: 50vw;
    }

    button:active,
    button:focus {
        outline: 0;
    }
}